langchain
langchain-classic
langchain-community
langchain-huggingface
langchain-chroma
langchain-ollama
langchain-text-splitters
langchain-core
sentence-transformers
pypdf
beautifulsoup4
# Dependencias para el bot de Discord
discord.py
nest-asyncio
python-dotenv
# Librería para detección de nombres con PLN
spacy
# Descargar el modelo de lenguaje en español para spacy
# python -m spacy download es_core_news_md